html
    head
        title Welcome!
    body
        h1 Welcome to Node-FileStore!
        p Node-FileStore allows you to store your files remotely and securely on another computer via a web interface
        p Find out more at 
            a(href='https://github.com/Plasma2450/Node-FileStore') the official Github page

        form(action='./login')
            button(type='submit') Login